.footer {
    background-color: #37373b;
}

.footer-padding {
    padding: 0rem 2rem;
    /* Reduced padding for a compact footer */
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.5rem;
    /* Adjusted margin for a tighter fit */
}

.footerlinksdiv {
    width: 140px;
    /* Reduced width for a more compact look */
    margin: 0.2rem;
    /* Reduced margin for a tighter layout */
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: -20px;
}

.footerlinksdiv a {
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.footerlinksdiv h4 {
    font-size: 20px;
    /* Reduced font size */
    line-height: 1.5;
    margin-bottom: 0.rem;
    /* Adjusted margin */
    padding-top: 20px;
}

.footerlinksdiv p {
    font-size: 14px;
    /* Reduced font size */
    line-height: 1.5;
    padding: 0.1rem 0;
    /* Reduced padding */
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.footer-below {
    display: flex;
    justify-content: center;
    /* Center the copyright text */
    margin-top: 0.5rem;
    /* Adjusted margin for spacing */
}


.footer-copyright {
    font-size: 12px;
    /* Reduced font size */
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 550px) {
    .footerlinksdiv h4 {
        font-size: 18px;
        /* Further reduce for smaller screens */
    }

    .footerlinksdiv p {
        font-size: 12px;
        /* Further reduce for smaller screens */
    }
}